/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo/
.lsp/
.calva/
src/aoc22/day16.clj
src/aoc22/day19.clj
resources/day16*
resources/day19*